SPRING_DATASOURCE_URL=jdbc:postgresql://HOST_NEON/agendapets?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=USUARIO_NEON
SPRING_DATASOURCE_PASSWORD=CAMBIAR_EN_ENTORNO_LOCAL

JWT_SECRET=CAMBIAR_EN_ENTORNO_LOCAL
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_SEED_ENABLED=false
SPRING_PROFILES_ACTIVE=dev
SPRING_JPA_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false