    <footer class="footer py-5 mt-5">
        <div class="container">

            <div class="row">


                <div class="col-lg-5 mb-4 pe-lg-5">
                    <div class="d-flex align-items-start">
                        <img src="./assets/logo.png" alt="Logo AgendaPets" width="90" class="me-3 flex-shrink-0">
                        <div>
                            <h4 class="fw-bold mb-2">AgendaPets</h4>
                            <p class=" descripcion mb-0">
                                Peluquería canina profesional en Bogotá. Atendemos con amor a todos los perritos.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 mb-4 ps-lg-4">

                    <h5>Contacto</h5>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0">
                                <i class="bi bi-telephone me-2"></i>
                                +57 310 555 7890
                            </a>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0">
                                <i class="bi bi-geo-alt me-2"></i>
                                Chapinero, Bogotá
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link p-0">
                                <i class="bi bi-envelope-at me-2"></i>
                                AgendaPets@outlook.com
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="col-lg-3 mb-4 ps-lg-4">
                    <h5>Horario</h5>

                    <ul class="nav flex-column">

                        <li class="nav-item mb-2">
                            <span>Lun – Vie: 8:00 am – 6:00 pm</span>
                        </li>

                        <li class="nav-item mb-2">
                            <span>Sábados: 9:00 am – 4:00 pm</span>
                        </li>

                        <li class="nav-item">
                            <span>Domingos: Cerrado</span>
                        </li>

                    </ul>

                </div>

            </div>

        </div>
    </footer>