 :root {
     --ap-crema: #FAF8F2;
     --ap-cards: #FFFDF9;
     --ap-verdeOscuro: #4D5C2D;
     --ap-acento: #C97A4C;
     --texto: #6B6B6B;

     --ap-verdeOscuroNuevo: #556B2F;
     --ap-verdeMedioNuevo: #7C9A4A;
     --ap-verdeClaroNuevo: #BFD99A;
     --ap-beigeNuevo: #F1DFC6;
     --ap-doradosuave: #D2A441;
     --ap-coral: #D98B7B;
    --ap-blanco:#ffffff;
    --ap-negro:#2b2b2b;

     /* Anteriores */
     --ap-cream: #F6F3EA;
     --ap-dark-green: #4D5C2D;
     --ap-medium-green: #7C9A4A;
     --ap-light-green: #A8C48A;
     --ap-tan: #E7D9B5;
 }


 /* =========================
   NAVBAR
========================= */


 .navbar {
     background-color: var(--ap-blanco);
     padding: 10px 40px;
     font-family: "Comfortaa", sans-serif;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
 }

 /* =========================
   LOGO
========================= */

 .navbar-brand {
     display: flex;
     align-items: center;
     gap: 8px;
     color: var(--ap-negro);
     text-decoration: none;
     font-size: 25px;
     font-weight: 900;
     letter-spacing: 0.2px;
     font-family: 'Original Surfer', sans-serif;
     transition: transform 0.3s ease;
 }



 /* =========================
   CONTENEDOR DEL MENÚ
========================= */

 .navbar-collapse {
     display: flex;
     align-items: center;
 }

 /* =========================
   LINKS
========================= */

 .navbar-nav {
     display: flex;
     gap: 20px;

     margin: 0 auto;
 }


 .nav-link:hover {
     color: var(--ap-medium-green);
 }

 /* =========================
   BOTONES DEL NAVBAR
========================= */

 .navbar-actions {
     display: flex;
     align-items: center;
     gap: 12px;
 }

 
 .btn-inicioSesion {
    background-color: var(--ap-blanco);
     color: var(--ap-dark-green);
     border: 2px solid var(--ap-dark-green);
     border-radius: 50px;
     padding: 9px 24px;
     font-size: 18px;
     font-weight: 500;
     text-decoration: none;
     transition: all 0.3s ease;
     white-space: nowrap;
 }

 .btn-inicioSesion:hover {
     background-color: var(--ap-verdeOscuroNuevo);
     color: var(--ap-blanco);
 }

 .btn-reserva {
    
     background-color: var(--ap-acento);
     color: var(--ap-blanco);
     border: 2px solid var(--ap-dark-green);
     border-radius: 50px;
     padding: 9px 24px;
     font-size: 18px;
     font-weight: 500;
     text-decoration: none;
     transition: all 0.3s ease;
     white-space: nowrap;
 }

 .btn-reserva:hover {
     background-color: var(--ap-verdeOscuro);
     color: var(--ap-blanco);
     border: 2px solid var(--ap-beigeNuevo);
 }

 /* =========================
   HAMBURGUESA
========================= */

 .navbar-toggler {
     border: 1px solid #ddd;
 }

 .navbar-toggler:focus {
     box-shadow: none;
 }

 @media (max-width: 991.98px) {

     .navbar {
         padding: 8px 20px;
     }

     .navbar-collapse {
         flex-direction: column;
         align-items: center;

         padding-top: 20px;
         padding-bottom: 20px;
     }

     .navbar-nav {
         flex-direction: column;
         align-items: center;

         gap: 5px;

         margin: 0;
     }

     .navbar-actions {
         flex-direction: column;
         margin-top: 15px;
         width: 100%;
     }

     .btn-inicioSesion,
     .btn-reserva,
     .sesion-chip--out,
     .sesion-chip--in {
         width: 100%;
         justify-content: center;
         text-align: center;
     }
 }



 /* =========================
   INDICADOR DE PÁGINA ACTIVA
========================= */

 /* Línea */
 .nav-link::after {
     content: "";
     position: absolute;

     left: 0;
     bottom: 0;

     width: 0;
     height: 2px;

     background-color: var(--ap-medium-green);

     transition: width 0.5s ease;
 }

 /* Hover */
 .nav-link:hover::after {
     width: 100%;
 }

 /* Página actual */
 .nav-link.active {
     color: var(--ap-negro);
 }

 .nav-link.active::after {
     width: 100%;
 }


 /* //// */
 /* =========================
   INDICADOR DE PÁGINA ACTIVA
========================= */

 .nav-link {
     position: relative;
     color: var(--ap-negro);
     font-size: 16px;
     text-decoration: none;
     padding: 8px 2px;
 }


 .nav-link.disabled::after {
     display: none;
 }

 .navbar-toggler-icon {
     background-image: none;

     width: 24px;
     height: 18px;

     position: relative;

     border-top: 2px solid var(--ap-dark-green);
     /* border-bottom: 2px solid var(--ap-dark-green); */
 }

 .navbar-toggler-icon::before {
     content: "";

     position: absolute;

     left: 0;
     top: 7px;

     width: 24px;
     height: 2px;

     background-color: var(--ap-dark-green);
 }

 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
     border-top: none;
     border-bottom: none;
 }

 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
     transform: rotate(45deg);
     transition: transform 0.3s ease;
 }



 /* Animación sutil al pasar el cursor sobre todo el bloque */
 .navbar-brand:hover {
     transform: translateY(-2px);
 }

 /* /* Estilo para el logo / */
 .logo-agenda {
     height: 50px;
     width: auto;
     filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15));
     transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }


 /* /* Contenedor del texto / */
 .brand-text {
     display: flex;
     gap: 6px;
     font-size: 28px;
     font-weight: 700;
     letter-spacing: 0.1px;
 }

 /* /* Estilo para la palabra "Agenda" (Color sólido amigable) / */
 .word-agenda {
     color: var(--ap-verdeOscuroNuevo);
     text-shadow: 1px 1px 0px var(--ap-negro),
         1px 1px 0px rgba(0, 0, 0, 0.05);
 }

  .word-agenda-footer {
     color: var(--ap-tan);
     text-shadow: 1px 1px 0px var(--ap-negro),
         1px 1px 0px rgba(0, 0, 0, 0.05);
 }



 /* /* Estilo para la palabra "Pets" (Efecto Gradiente y Brillo) / */
 .word-pets {
     color: var(--ap-coral);
     text-shadow: 1px 1px 0px var(--ap-negro),
         1px 1px 0px rgba(0, 0, 0, 0.05);
     
     transition: color 0.3s ease, text-shadow 0.3s ease; 
 }

 

