:root {
  --ap-cream: #F6F3EA;
  --ap-dark-green: #4D5C2D;
  --ap-medium-green: #7C9A4A;
  --ap-light-green: #A8C48A;
  --ap-tan: #E7D9B5;
}

body {
  background-color: var(--ap-cream);
  color: var(--ap-dark-green);
  font-family: "Montserrat", sans-serif;
    /* padding-top: 80px;  */

}
/* =========================
   NAVBAR
========================= */

.navbar {
    background-color: #ffffff;
    padding: 10px 40px;
    font-family: "Comfortaa", sans-serif;
}

/* =========================
   LOGO
========================= */

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #2b2b2b;

    text-decoration: none;

    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.2px;
}

.logo-agenda {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* =========================
   CONTENEDOR DEL MENÚ
========================= */

.navbar-collapse {
    display: flex;
    align-items: center;
}

/* =========================
   LINKS
========================= */

.navbar-nav {
    display: flex;
    gap: 20px;

    margin: 0 auto;
}


.nav-link:hover {
    color: var(--ap-medium-green);
}

/* =========================
   BOTÓN RESERVA
========================= */

.btn-reserva {

  background-color: var(--ap-dark-green);
    color: #ffffff;
    border: 2px solid var(--ap-dark-green);
    border-radius: 50px;
    padding: 9px 24px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn-reserva:hover {
     background-color: var(--ap-tan);
    color: #2b2b2b;
}

/* =========================
   HAMBURGUESA
========================= */

.navbar-toggler {
    border: 1px solid #ddd;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 991.98px) {

    .navbar {
        padding: 8px 20px;
    }

    .navbar-collapse {
        flex-direction: column;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;

        gap: 5px;

        margin: 0;
    }

    .btn-reserva {
        margin-top: 15px;
    }
}



/* =========================
   INDICADOR DE PÁGINA ACTIVA
========================= */

/* Línea */
.nav-link::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;

    background-color: var(--ap-medium-green);

    transition: width 0.5s ease;
}

/* Hover */
.nav-link:hover::after {
    width: 100%;
}

/* Página actual */
.nav-link.active {
    color: #4a5d2c;
}

.nav-link.active::after {
    width: 100%;
}


/* //// */
/* =========================
   INDICADOR DE PÁGINA ACTIVA
========================= */

.nav-link {
    position: relative;
    color: #2b2b2b;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 2px;
}


.nav-link.disabled::after {
    display: none;
}

.navbar-toggler-icon {
    background-image: none;

    width: 24px;
    height: 18px;

    position: relative;

    border-top: 2px solid var(--ap-dark-green);
    border-bottom: 2px solid var(--ap-dark-green);
}

.navbar-toggler-icon::before {
    content: "";

    position: absolute;

    left: 0;
    top: 7px;

    width: 24px;
    height: 2px;

    background-color: var(--ap-dark-green);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-top: none;
    border-bottom: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}